:root {
	--mainColor: #4d0505ab;
	--secondaryColor: rgba(47, 5, 5, 0.808);
	--terciaryColor: #7907079a;
	--fontColor: rgba(255, 255, 255, 0.685);
	--border-color: #054d16b2;
	--dangerButtonBorderColor: #8b0a0aab;
}

p {
	color: var(--fontColor) !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--fontColor) !important;
}

th {
	color: var(--fontColor) !important;
}

.bg-light {
	background-color: var(--mainColor) !important;
	color: var(--fontColor) !important;
}

.mainPanel {
	padding: 5% 5% 5% 5%;
}

.fullPage {
	height: 100%;
	left: 0;
	width: 100%;
	overflow: hidden;
}

.flexBox {
	display: flex;
}

html {
	height: 100%;
}

root {
	font-size: 14px;
}

body {
	min-height: 100%;

	background-color: var(--secondaryColor);
}

.letMeSomeSpace {
	padding-top: 2%;
	padding-bottom: 2%;
}

.iNeedMoreMargins {
	margin: 1% 1% 1% 1%;
}

.disclaimer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 2% 2% 2% 2%;
}

.imgInPostCard {
	height: 55vh;
	max-width: 100%;
}

.imgInTable {
	max-width: 150px;
	max-height: 100px;
}

.publicationWriterBorders {
	border: 5px solid #f8f9fa !important;
	padding-top: 3%;
	padding-bottom: 3%;
	padding-left: 3%;
	padding-right: 3%;
}

.publicationWriterPost {
	display: flex;
	max-height: 80%;
	max-width: 95%;
}

.publicationWriterImageSource {
	display: flex;
	max-height: 20%;
	max-width: 95%;
}

.mainCategoryRows {
	display: flex;
	height: 80%;
}

.c5pxmarginsbottom {
	margin-bottom: 5px;
}

.c5pxmarginstop {
	margin-top: 5px;
}

td {
	color: var(--fontColor);
}

.btn-danger {
	color: var(--fontColor) !important;
	background-color: var(--mainColor) !important;
	border-color: var(--dangerButtonBorderColor) !important;
}

.normalButton,
button {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	justify-content: center;

	padding: 12px;

	color: var(--fontColor);
	border: 1px solid var(--mainColor) !important;
	background-color: var(--mainColor) !important;
}

.normalButton:hover,
button:hover {
	color: white;
	border: 1px solid var(--fontColor) !important;
	background-color: var(--mainColor) !important;
}

ul {
	margin: 0%;
	padding: 0%;
}

li {
	list-style-type: none;
}
