:root {
	--mainColor: #28a745;
	--fontColor: rgba(61, 31, 31, 0.685);
}

p {
	color: var(--fontColor);
}

h* {
	color: var(--fontColor);
}

th {
	color: var(--fontColor);
}

.bg-light {
	background-color: var(--mainColor) !important;
}

.mainPanel {
	padding: 5% 5% 5% 5%;
}
.fullPage {
	height: 100%;
	left: 0;
	width: 100%;
	overflow: hidden;
}

.flexBox {
	display: flex;
}

html {
	height: 100%;
	color: var(--fontColor) !important;
}
body {
	min-height: 100%;
}

.letMeSomeSpace {
	padding-top: 2%;
	padding-bottom: 2%;
}

.iNeedMoreMargins {
	margin: 1% 1% 1% 1%;
}

.selfContainedWellPadded {
	padding-top: 3%;
	padding-bottom: 3%;
	padding-left: 3%;
}

.imgInPostCard {
	height: 55vh;
	max-width: 100%;
}

.imgInTable {
	max-width: 150px;
	max-height: 100px;
}

.publicationWriterBorders {
	border: 5px solid #f8f9fa !important;
	padding-top: 3%;
	padding-bottom: 3%;
	padding-left: 3%;
	padding-right: 3%;
}

.publicationWriterPost {
	display: flex;
	max-height: 80%;
	max-width: 95%;
}

.publicationWriterImageSource {
	display: flex;
	max-height: 20%;
	max-width: 95%;
}

.mainCategoryRows {
	display: flex;
	height: 80%;
}

.c5pxmarginsbottom {
	margin-bottom: 5px;
}

.c5pxmarginstop {
	margin-top: 5px;
}
