.mainPanel {
    padding: 5% 5% 5% 5%;
}
.fullPage {
    height: 100%;
    left: 0;
    width: 100%;
    overflow: hidden;
}

html {
    height: 100%;
  }
  body {
    min-height: 100%;
  }

.letMeSomeSpace{
  padding-top: 3%;
  padding-bottom: 3%;
}

.selfContainedWellPadded{
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 3%;
}