.publicationCard3way {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	height: fit-content;
}

.postCard {
	margin-top: 15px !important;

	max-height: 800 px;
	min-height: 60vh;
	padding-top: 3%;
	padding-bottom: 3%;
	padding-left: 3%;
	padding-right: 3%;
}

.normalButton {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	justify-content: center;

	height: 60px;
	width: 120px;
	padding: 12px;

	color: var(--fontColor);
	border: 1px solid var(--mainColor) !important;
	background-color: white !important;
}

.normalButton:hover {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	justify-content: center;

	height: 60px;
	width: 120px;
	padding: 12px;

	color: white;
	border: 1px solid var(--fontColor) !important;
	background-color: var(--mainColor) !important;
}
