.commentContainer {
	width: 100%;
	height: fit-content;

	border: 1px solid var(--border-color);
}

.topBar {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;

	border: 1px solid var(--border-color);

	width: 100%;
	height: fit-content;
}

.topBar-right {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;

	width: 100%;
	height: fit-content;
}

.leftContent {
	width: fit-content;
	height: fit-content;

	width: 40%;
}

.imgNotExpanded {
	width: 150px;
	height: 150px;
}

.imgExpanded {
	min-width: 150px;
	min-height: 150px;

	max-width: 100%;
	max-height: 100%;
}

.rightContent {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;

	text-justify: initial;

	padding: 5px;

	width: 60%;

	height: fit-content;
}
