.cardFather {
	border: 1px solid var(--border-color);
	border-radius: 4px;

	display: flex;
	flex-direction: row;

	width: 100vw;
}

.opMessageLeft {
	width: fit-content;
	height: fit-content;
}

.opMessageRight {
	display: flex;
	flex-direction: column;
}

.opTitle {
	font-size: 18px;
	font-weight: 600;
}

.fatherImg {
	height: 300px;
	width: 200px;

	justify-self: flex-start;
}

.respondContainer {
	margin-top: 5px !important;

	display: flex;
	flex-direction: row;

	width: 90vw !important;
}

.refreshButton {
	height: fit-content;
	width: 120px;
}

.responsesContainer {
	padding: 5px;

	display: flex;
	flex-direction: column;

	width: 100%;
}

.respondCardContainer {
	margin-top: 5px !important;

	width: 100%;
}

.publicationSingleViewerContainer {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	padding: 5px;
}

.respondCardBody {
	display: flex;
	align-items: flex-start;
	padding: 3px;

	width: 100%;
}

.postComment {
	width: 100%;
	padding: 2px;
}

.card {
	background-color: var(--secondaryColor) !important;
}
